
h1{
  margin: 0px;
  color:#489ea0;
  font-size:3.4em;
  display: inline-block;
}


body{
  margin: 0;

    background-color:#CDE990;
}
.d1
{
  margin:0;
 
  
   background-color: transparent;
   
   
   position:absolute;
left:800px;
top: 140px;
}
.natural
{
  height: 100%;
   width:100%;
   
}

.d3
{
  background-color: transparent;
  color:#1e7aa1;
  position:absolute;
 font-size: 1.em;
  top:250px;
  left:400px;
}


.d4
{
  background-color: transparent;
  color:#1e7aa1;
  position:absolute;
 font-size: 1.em;
  top:450px;
  left:750px;
}

.d5
{
  background-color: transparent;
  color:#1c831a;
  position:absolute;
 font-size: 1.em;
  top:650px;
  left:620px;
}
.d6
{
  background-color: transparent;
  color:#769642;
  position:absolute;
 font-size: 1.em;
  top:820px;
  left:390px;
}

.photo
{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border:solid;
  border-width:0.5px;
 
}

a
{
   
   color:#769642;
}